/*
 Theme Name:   Rassemblement
 Theme URI:    http://lamastreassociationrad.fr
 Description:  MH Edition lite child theme
 Author:       Rodolphe Robles
 Author URI:   http://deploiement.ovh
 Template:     mh-edition-lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, theme-options, threaded-comments, full-width-template, translation-ready, rtl-language-support, blue, white, light, gray  
 Text Domain:  twenty-fifteen-child
*/
@font-face {
    font-family:'bowlby_one_scregular';
    src: url('bowlbyonesc-regular-webfont.woff2') format('woff2'),
         url('bowlbyonesc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bowlby_oneregular';
    src: url('bowlbyone-regular-webfont.woff2') format('woff2'),
         url('bowlbyone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'slim_joeregular';
    src: url('slim_joe-webfont.woff2') format('woff2'),
         url('slim_joe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'big_johnregular';
    src: url('big_john-webfont.woff2') format('woff2'),
         url('big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nimbus_roman_no9_lRgIt';
    src: url('nimbusromno9l-regita-webfont.woff2') format('woff2'),
         url('nimbusromno9l-regita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_roman_no9_lregular';
    src: url('nimbusromno9l-reg-webfont.woff2') format('woff2'),
         url('nimbusromno9l-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_roman_no9_lbold_italic';
    src: url('nimbusromno9l-medita-webfont.woff2') format('woff2'),
         url('nimbusromno9l-medita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_roman_no9_lbold';
    src: url('nimbusromno9l-med-webfont.woff2') format('woff2'),
         url('nimbusromno9l-med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.entry-meta {
   display: none;
}
.entry-title {
  text-align: center; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'nimbus_roman_no9_lbold';
}
body {
   line-height: 1.5;
   font-size: 1rem;
}
.mh-header {
    border-bottom: 3px solid #e11a20;
}
.mh-wrapper {
   opacity: 0.95;
}
.mh-header-text {
  text-align: center;  
}
.mh-row [class*="mh-col-"]:first-child {
   background-color: #a2b3b3;
}
.mh-comment-meta-links .comment-reply-link, .mh-comment-meta-links .comment-edit-link, #cancel-comment-reply-link, {
  background: #e2aa00;
}
.mh-slider-content {
   background: #f5f5f5;
}
#tribe-events-content .tribe-events-calendar td {
   background-color: #f9f9f9;
}
#menu-navigation a:hover, .widget_pages li a:hover {
  color: #e20700;
}
.mh-main-nav a:hover.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
background-color: #e20700;
}
.mh-excerpt-more, input[type="submit"] {
   background: #e2aa00;
   color: #7a7a7a;  
}
.mh-excerpt-more:hover, input[type="submit"]:hover, .mh-slider-content .mh-excerpt-more:hover {
    color: #e20700;
    background: #e2aa00;
}
#menu-navigation a {
   background-color: #e2aa00;   
   font-family: 'nimbus_roman_no9_lbold';
   font-size: 1em; 
   color: #7a7a7a;   
}
.mh-main-nav, .mh-main-nav .menu-item, .slicknav_menu, .slicknav_btn, #tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a{
  background-color: #e2aa00;
}
.mh-wrapper {
  background_color: #f8f8f8;      
}
.mh-main-nav ul ul, .mh-widget ul, .tribe-list-widget {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border-radius: 15px 15px;
     background-color: #e2aa00;
     padding: 10px 10px;
     border-style: groove;
     border-width: 1px;
     border-color: #272626; 
}
.mh-main-nav ul li:hover > ul, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] {  
    background: #e2aa00;
}
.entry-content a, .mh-copyright a {
  color: #907628;
}
a:hover, .recentcomments a:hover, .mh-loop-title a:hover, .mh-meta a:hover, #tribe-events-content .tribe-events-tooltip h4 {
  color: #e20700 !important; 
}
.mh-slider-caption, .mh-slider-title {
   color: #2a2a2a;
}
blockquote {
   color: #3c3b3a;
}
a, .widget_archive li, .widget_categories li, .widget_pages li a, .widget_nav_menu .menu > li a {
   font-size: 1.2em;
   font-family: 'nimbus_roman_no9_lbold';  
   color: #7a7a7a;   
}
.widget_categories li a {
  font-family: 'nimbus_roman_no9_lbold';
   font-style: bold;
} 
.mh-loop-title a, .mh-meta, .mh-meta a {
   color: #2a2a2a;
} 
.mh-carousel-caption {
  background-color: #272626;
}
.mh-carousel-widget .flex-direction-nav a {
   background: #e20720; 
}
.required {
   color: #e20720;
}
.mh-slider-content .mh-excerpt-more {
    color: #7a7a7a;
    background: #e2aa00;
}
.mh-slider-widget .flex-control-paging li a.flex-active {
   background: #e20720;
}
.entry-thumbnail img {
    display: block;
    width: 50%;
     margin-left: auto;
    margin-right: auto;
}
.alignnone {
    display: inline-block;  
    margin: 1.25rem 1rem;
}
img {
  margin-bottom: 0.4rem;
}
.entry-content p {
   margin-bottom: 5px !important;
}
.su-expand-link-style-default .su-expand-link a {
   font-size: 1.2em;
   font-family: 'nimbus_roman_no9_lbold';  
   color: #e2aa00 !important; 
}
.su-expand-link a:hover, #wp-calendar td a:hover {
  color: #e20720 !important;  
}
#wp-calendar td a {
  color: #e2aa00 !important;
}
.su-carousel-slide-title, .su-custom-gallery-slide span {
   font-size: 18px !important;
}
blockquote {
  border-left: 5px solid #e20720;   
  border-right: 2px solid #e20720;   
}
.entry-tags {
  margin-top: 1.875rem;
}
.entry-tags .fa {
  background: #e2aa00;
}
.mh-widget .tagcloud a:hover {
  background: #e2aa00; 
}
.mh-comment-meta-links .comment-reply-link, .mh-comment-meta-links .comment-edit-link {
   background: #e2aa00; 
}